        /* GENERAL*/
ul {
  list-style-type: none;
}
.flex-conteiner {
  display: flex;
}
.clear {
  clear: both;
}
h1,
h2 {
  text-transform: uppercase;
}
          /* ASIDE */
.flex-aside {
  flex-basis: 200px;
}
aside {
  background-color: #647087;
  width: 95%;
  margin-right: 3%;
}
aside * {
  color: white;
}
aside h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
aside section h2:first-child {
  border-bottom: 2px solid white;
}
#profile-pic img{
  border-radius: 50%;
}
/*    DL    */
dl {
  display: flex;
  flex-wrap: wrap;
}
dt,
dl {
  line-height: 1.5em;
  border-top: 1px solid white;
}
dt:last-of-type,
dd:last-of-type {
  border-top: 1px solid white;
}
dt,
dl {
  flex-basis: 50%;
  margin: 0;
}

          /* MAIN */
main section > h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.hero h2{
  border-top: 2px solid white;
  text-transform: none;
  letter-spacing: 10px;
}
.hero h1 {
  letter-spacing: 10px;
}
.hero {
  text-align: center;
  background-color: #DCEBC2;
  box-shadow: 2px 2px 30px 4px #647087 inset;
  padding: 15% 0;
}
.about-me {
  background-color: #EDC0Af;
}
.about-me h2 {
  background-color: white;
}
article h3,
article h4 {
  font-weight: bold;
}
article ul {
  list-style-type: square;
}
.reference article{
  width: 50%;
}
/** {
  color: blue;
}
p {
  color: red;
}
.bonito {
  background-color: lightblue;
}
ul {
  list-style-type: none;
}
article ul {
  list-style-type: square;
}
#profile-pic img{
  border-radius: 50%;
}*/
